

/* gallery */



.gallery{
    padding: 63px 0 110px ;
}

.galleryList{
    margin-top: 61px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.photoWrap{
    width: 670px;
}

.galleryListItem{
    cursor: pointer;
}
.galleryListItem:hover{
    transform: scale(1.1);
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 239, 239, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}
.content{
    width: 700px;
    height: auto;
}
